@charset "utf-8";
/* CSS Document */
	#home {
	background: #FFFFFF url(../images/home-backg.png) repeat-x;
	}

	#headerhome{
	height:213px;
	width:100%;
  background: url(../images/title-home.png) no-repeat;
	}  
	
	#searchboxcontent {
	text-align:left;
	position:relative;
	margin: 0;
	padding: 0;
	top: -152px;
	width: 855px;
	margin-right:auto;
	margin-left:auto;
	}
	
	#main {
	position:relative;
	top:-44px;
	}
	#main h1 {
	margin: .2em 0;
	padding: .2em 0;
	}
	#main table {
	width:100%;
	}
	#main #left {
	padding: 15px 10px 0 25px;
	}
	#main #right {
	padding: 25px 25px 0 10px;
	width: 500px;
	}
	#main p{
	margin: 0 0 .8em 0;
	padding:0;
	font-size:11pt;
	}
	#main #right p{
	padding: 0;
	margin: 8px 0 8px 18px;
	}
	#main td {
	vertical-align: top;
	}
	#spotlightbox {
	background: url(../images/spotlight-backg.png) repeat-x;
	height:496px;
	width:491px;
	padding: 6px 0;
	}
	#spotlightbox .label{
	}
	#main #borderbox {
	text-align:center
	}	
	#main #embeddedmap {
	background-color:white; 
	padding:10px;
	margin:0;
	}
	
	#main ul {
	padding: .1em  .4em .1em 2em;
	margin:.4em 0;
	list-style: url(../images/raquo.gif);
	}
	#main .recent {
	background: url(../images/recent-backg.png) repeat-x;
	width: 100%;
	padding: 1em .4em;
	margin: 0;
	font-weight:bold;
	}
	#main .rightwidth {
	width:320px;
	}
	#main .recent hr {
	color: #BBC7D5;
	background-color: #BBC7D5;
	height: 1px;	
	border: none 0; 
	}

	#maintab {
	position:absolute;
/*	top: 232px;	 */
	top: 222px;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	background-color: #5197DC;
	border-bottom: #5197DC solid 1px;
	width: 100%;
	}
	#maintab .left {
	margin: 0 0 0 45px;	
	}
	#maintab .selected, #maintab .unselected  {
	padding: 6px 20px 0px 20px;
	margin: 0 3px;
	border-left:white solid 1px;
	border-right:white solid 1px;
	border-top:white solid 1px;
	}
	#maintab .selected {
	padding: 6px 20px 1px 20px;
	background-color: white;
	border-bottom:white solid 1px;
	}
	#maintab .unselected {
	padding: 6px 20px 0px 20px;
	background-color: #C4DEF9;
	border-bottom:#AECDE9 solid 1px;
	}
	#maintab a:link, #maintab a:visited {
	color: #033898;
	}

	#home #searchbox {
	top: 72px;
	}
	#tagline, #totals{
	color: #4D4D4D;
	font:italic 700 9pt Georgia, "Times New Roman", Times, serif;
	text-align:left;
	position:relative;
	top: -30px;
	left: 380px;
	width: 42em;
	padding: 0;
	}
	#tagline {
	margin: 0;
	}
	#totals {
	margin-top: 4px;
	margin-right:auto;
	}
	#totals b{
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size:10pt;
	}
