body {
	margin:0;
	padding:0;
	font: small Arial, Helvetica, sans-serif;
}
h1, h2 {
	color: #426293;
	margin-bottom:.2em;
}

.nav {
  border-bottom: 1px solid #D7E5F2;
  text-align:right;
  padding: 0 0 .4em 0;
	margin: 0 0 0 0;	
}

.nav_left {
	float:left;
}

.nav ul{
	padding: 0;
	margin: 0;
	background-color:#FFFFFF;
	color: #003366;
}

.nav ul li{
    display: inline;
    padding: 0 0 2em .1em;
    margin: 0;
}

.nav ul li a{
    color:blue;
    text-decoration:underline;
    padding:0 5px 0 5px;
    text-align:center;
    width: 9em;
		font-size: small;
}

.nav .name {
    color:black;
}

#container { 
	width: 100%;
	background: #FFFFFF;
	text-align: left; 
}  

.adminField, .adminAction {
	padding-right:1em;
	padding-left:1em;
	font-style: italic;
	color: blue;
}
.adminAction{
	border-left:1px solid #e0e0e0;
}
.adminBox{
	padding:.2em .2em .2em .2em;
	border:1px solid #e0e0e0;
	color:gray;
	font-weight: bold;
	font-size: x-small;
	background: #FFFFCC;
}



#footer {
    border-top: 1px solid #D7E5F2;
	  width: 99%;
    left: 0;
    top: 0;
    padding: .2em;
    margin: .2em;
}
#footer .linkleftright, #footer .linkleft {
	padding-left: 1em;
	padding-right: 1em;
}
#footer .linkleft {
	border-left:1px solid #e0e0e0;
}
#footer .linkleftright {
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0;
}

a.summary:link, a.summary:visited, a.links:link, a.links:visited, a.more:link, a.more:visited, a.nexPrev:link, a.nextPrev:visited  {
    color: blue;
}

a.errorlinks:link, a.errorlinks:visited {
    color: red;
}

a.nexPrev:link, a.nextPrev:visited {
    color: blue;
}

.loginForm, .settingsForm {
    margin:40px 0 60px 60px;
}
.loginForm .errorLabel, .settingsForm .errorLabel {
    padding-left: 0;
	color:red;
}
.settingsForm h2 {
    margin-bottom: .2em;
}

.settingsForm .successMessage {
  border:1px solid #999999;
  padding: .5em 1em .5em 1em;
  background-color:#009900;
	color:#FFFFFF;
}

#modal_container {
	padding:5px;
	background-color:#fff;
	border:1px solid #666;
	overflow:auto;
	color:#333;
	text-align:left;
}

#modal_overlay {
	background-color:#000;
}

.simpleTable table {
	border: 1px solid #e0e0e0;
	padding:.1em;
	margin:.1em;
	text-align: left;	
}

.simpleTable tr, .simpleTable td, .simpleTable th {
	border: 1px solid #e0e0e0;
	padding: .2em;
	margin: 0;
}

.simpleTable th{
	background-color:#EFEFEF;
}

.timefont {
  font-size: larger;
	color:#426293;
}
.spacefont {
  font-size: larger;
	color:#8EC341;
}
.mapfont {
	color:black;
}
