@charset "utf-8";
/* CSS Document */
	body {
	margin: 0;
	padding: 0;
	font: 9pt Arial, Helvetica, sans-serif;
	color: #202020;	
	text-align:left;
	background: url(../images/short-backg.gif) repeat-x;
	}


.nav {
  border-bottom: 1px solid #D7E5F2;
  text-align:right;
  padding: 0 0 .4em 0;
	margin: 0 0 0 0;	
}

.nav_left {
	float:left;
}

.nav ul{
	padding: 0;
	margin: 0;
	background-color:#FFFFFF;
	color: #003366;
}

.nav ul li{
    display: inline;
    padding: 0 0 0 .1em;
    margin: 0;
}

.nav ul li a{
    color:blue;
    text-decoration:underline;
    padding:0 5px 0 5px;
    text-align:center;
    width: 9em;
		font-size: small;
}

.nav .name {
    color:black;
}

#container { 
	width: 100%;
	background: #FFFFFF;
	text-align: left; 
}  

.adminBox{
	margin: 0.2em .2em 0;
	padding:0 0 0 .6em;
	border:1px solid #e0e0e0;
	color:gray;
	font-weight: bold;
	font-size: x-small;
	background: #FFFFCC;
}
.adminBox td {
	vertical-align: middle;
}
.adminField, .adminAction {
	padding: 0 1em;
	margin: 0;
	font-style: italic;
	font-weight: normal;
	font-size:8pt;
}
.adminBox .label {
	position:relative;
	top: -2px;
}
.adminAction{
	border-left:1px solid #e0e0e0;
}

#footer {
    border-top: 1px solid #D7E5F2;
	  width: 99%;
    left: 0;
    top: 0;
    padding: .2em;
    margin: .2em;
}
#footer .linkleftright, #footer .linkleft {
	padding-left: 1em;
	padding-right: 1em;
}
#footer .linkleft {
	border-left:1px solid #e0e0e0;
}
#footer .linkleftright {
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0;
}
a:link, a:visited {
color: #047BDD;
}
a {
font-weight:bold;
text-decoration: none;
}
/*
a.summary:link, a.summary:visited, a.links:link, a.links:visited, a.more:link, a.more:visited, a.nexPrev:link, a.nextPrev:visited {
    color: blue;
}

.pagelinks a:visited, .pagelinks a:link {
	color:blue;
}
*/
a.errorlinks:link, a.errorlinks:visited {
  color: red;
	text-decoration: underline;
}
/*
a.nexPrev:link, a.nextPrev:visited {
    color: blue;
}
*/
.loginForm, .settingsForm {
    margin:40px 0 60px 60px;
}
.loginForm .errorLabel, .settingsForm .errorLabel {
    padding-left: 0;
	color:red;
}
.settingsForm h2 {
    margin-bottom: .2em;
}

.settingsForm .successMessage {
  border:1px solid #999999;
  padding: .5em 1em .5em 1em;
  background-color:#009900;
	color:#FFFFFF;
}

#modal_container {
	padding:5px;
	background-color:#fff;
	border:1px solid #666;
	overflow:auto;
	color:#333;
	text-align:left;
}

#modal_overlay {
	background-color:#000;
}

.simpleTable table {
	border: 1px solid #e0e0e0;
	padding:.1em;
	margin:.1em;
	text-align: left;	
}

.simpleTable tr, .simpleTable td, .simpleTable th {
	border: 1px solid #e0e0e0;
	padding: .2em;
	margin: 0;
}

.simpleTable th{
	background-color:#EFEFEF;
}

.timefont {
  font-size: larger;
	color:#426293;
}
.spacefont {
  font-size: larger;
	color:#8EC341;
}
.mapfont {
	color:black;
}

/* ---------------- NEW STUFF --------------*/

	#nav {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:31px;
	}
	.nav_left {
	float:right;
	display:inline;
	height: 31px;
	padding: 0;
	margin: 0;	
	}
	.nav_block {
	background: url(../images/nav.png) repeat-x;
	float:right;
	display:inline;
	height: 31px;
	padding: .5em 1em .4em .4em;
	margin: 0 10px 0 0;	
	}
	.nav_block ul{
	padding: 0;
	margin: 0;
	}
	.nav_block ul li {
	display:inline;
	}
	a:link, a:visited {
	color: #047BDD;
	}
	a {
	font-weight:bold;
	text-decoration: none;
	}
	#content-- {
	text-align:left;
	position:relative;
	margin: 0;
	padding: 0;
	top: -152px;
	width: 1050px;
	margin-right:auto;
	margin-left:auto;
	}
	#tagline, #totals{
	color: #4D4D4D;
	font:italic 700 9pt Georgia, "Times New Roman", Times, serif;
	text-align:left;
	position:relative;
	left: 380px;
	width: 42em;
	padding: 0;
	}
	#tagline {
	margin: 0;
	}
	#totals {
	margin-top: 4px;
	margin-right:auto;
	}
	#totals b{
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-family: Arial, Helvetica, sans-serif;
	}
	#addbox {
	position:relative;
	left: 830px;
	top: 22px;
	font-weight: bold;
	width: 15em;
	}
	.biglink a{
	font: bold 12pt Arial, Helvetica, sans-serif;
	}
	#searchbox {
	position:absolute;
	top: 68px;
	left:40px;
	width: 1050px;
	margin-right:auto;
	margin-left:auto;
	font-weight: bold;
	font-size:10pt;
	width: 5em; 
	}
	#searchbox .biglabel {
	font-size:14pt;
	}
	#searchbox .eg, #searchbox .options {
	font-weight: normal;
	font-size:8pt;
	}
	#searchbox tr td {
		padding: 0 .1em;
		margin: 0;
	}
	#searchbox .options input{
		margin: 0;
		padding: 0;
	}
	#searchbox .button {
		margin-bottom: 1px;
	}
	#searchbox input {
	font: 10pt Arial, Helvetica, sans-serif;
	}
	#heading {
	text-align:center;
	}
	.clearfloat {
	float:none;
	}
	.footer {
	margin:0;
	padding:0;
	}
	
	#homemenu a {
  position: absolute;
  height: 1em;
  top: 0px; 
  }
  #homemenu a i { visibility: hidden; }
  a#home { top:8px; left:44px; width:255px; height:58px; }
  #headershort{
	height:85px;
	width:100%;
  background: url(../images/title-short.jpg) no-repeat;
	}  