body {
	font-family: Arial;
	font-size: small;
	margin:0;
	padding:0;
}

.nav {
    border-bottom: 1px solid #D7E5F2;
    text-align:right;
    padding: 0 0 .4em 0;
	margin: 0 0 0 0;
}

.nav_left {
	float:left;
}

.nav ul{
	padding: 0;
	margin: 0;
	background-color:#FFFFFF;
	color: #003366;
}

.nav ul li{
    display: inline;
    padding: 0 0 2em .1em;
    margin: 0;
}

.nav ul li a{
    color:blue;
    text-decoration:underline;
    padding:0 5px 0 5px;
    text-align:center;
    width: 9em;
}

.nav .name {
    color:black;
}

#container { 
	width: 100%;
	background: #FFFFFF;
	text-align: left; 
}  

#sidebar {
	width: 320px;
	padding: 5px 0;
	border:1px solid #999999;
}

#map {
    width:100%;
    height:1200px;
    border:1px solid #999999; 
    margin:-1px;
}

.adminField {
	font-style: italic;
	color: blue;
}
.mapedit table {
    width:100%;
}
.mapedit #eventForm .inputcell {
    background-color: #F9FBFD;
    border: 1px solid #D7E5F2;
    padding: 10px 4px 5px 2px;
    margin: 0 .2em 2px .2em;
}
.mapedit #eventForm .inputlabel, .errorlabel {
    font: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #3670A7;
}
.mapedit #eventForm .errorlabel {
    color: red;
    font-style:bold;
}

.mapedit #eventForm .radio {
    padding: .4em .2em .2em .2em;
    border: 1px solid #D7E5F2;
    margin: .2em;
}

.mapedit .miniTabBar {
    margin-left:20px;
}
.mapedit .miniTabSelected, .miniTabUnselected {
	background : #FFFFFF;
	border-left : 1px solid;
	border-top : 1px solid;
	border-right : 1px solid;
	color : #999;
	font-size : x-small;
	padding : 2px 10px 0px 10px; 
	margin-left : 4px; 
}

.mapedit .miniTabUnselected {
	background : #E6E6E6;
}

.mapedit h3 {
	padding: 0;
	margin: 0 0 4px 0;
	font-size:x-large;
}
.mapedit A:hover {
	text-decoration:underline overline;
}
.mapedit td {
	vertical-align:top;
}
.mapedit small {
	font-size:xx-small;
	color: gray;
}
#footer {
    border-top: 1px solid #D7E5F2;
	  width: 99%;
    left: 0;
    top: 0;
    padding: .2em;
    margin: .2em;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0;
}

.mapedit #results {
    overflow-x:hidden; 
    overflow-y:scroll;
    overflow:-moz-scrollbars-vertical!important;
}

.mapedit .resultcount, .errorLabel, .errorHint {
	padding-left: 5px;
}

.mapedit .errorLabel, .errorHint {
	color:red;
	margin-bottom:.2em;
	margin-top:.2em;
}
.mapedit .errorHint {
	font-weight: normal;
}
.mapedit .errorHint ul {
	margin-left:10px;
	padding-left:10px;
	margin-top:.2em;
}
.mapedit .errorHint li {
	margin-left:5px;
	padding-left:5px;
}

.mapedit .result {
	padding:.2em;
	border: 1px solid #e0e0e0;
	margin: .1em .2em .1em .2em;
}

.mapedit .result .letter {
	font-weight: bold;
}

.mapedit .result .when {
    color:#3670A7;
    font-weight:bold;
}

.mapedit .result .summary {
	font-weight: bold;
}

.mapedit .result .where {
	font-style: italic;
}

.mapedit .result .more {
	font-style: italic;
}

.mapedit .result .links {
}

a.summary:link, a.summary:visited, a.links:link, a.links:visited, a.more:link, a.more:visited, a.nexPrev:link, a.nextPrev:visited  {
    color: blue;
}

a.errorlinks:link, a.errorlinks:visited {
    color: red;
}
.mapedit .nextPrev {
    margin: 1em .2em 1em .2em;
    font-size: large;
    fort-weight: bold;
}

a.nexPrev:link, a.nextPrev:visited {
    color: blue;
}

.mapedit .changes {
	padding: 1em;
	margin: .2em;
	border:1px solid #999999;
}

.mapedit .changeEntry{
	padding: .5em;
	margin: .2em;
	border: 1px solid #e0e0e0;
}

.mapedit .searchbar{
    width:auto;
}

.mapedit .action{
    padding-right:1em;
}

.loginForm, .settingsForm {
    margin:40px 0 60px 60px;
}
.loginForm .errorLabel, .settingsForm .errorLabel {
    padding-left: 0;
	color:red;
}
.settingsForm h2 {
    margin-bottom: .2em;
}

.settingsForm .successMessage {
  border:1px solid #999999;
  padding: .5em 1em .5em 1em;
  background-color:#009900;
	color:#FFFFFF;
}

.simpleForm {
    margin:40px 0 60px 60px;
    padding-right: 20px;
}

.simpleForm .formLabel {
	font-weight: bold;
}
.simpleForm .formRow {
	margin-top: .5em;
	margin-bottom: .2em;
}

.simpleForm .errorLabel{
  padding-left: 0;
	color:red;
}

.simpleForm .infoBox {
	padding: 1em;
	border: 1px solid #e0e0e0;
	margin-bottom: .2em;
}

.simpleForm li, ul {
	padding: 0 0 0 1em ;
	margin-bottom: .2em;
}

.simpleForm h2{
    margin-bottom: .2em;
    margin-top: .2em;
}

.simpleForm h3 {
    margin-top: .5em;
    margin-bottom: .2em;
}

.simpleForm table, tr, iframe {
	padding:0;
	margin:0;
}

.simpleForm td {
	padding-right:1em;
}

.simpleForm .action {
	padding-right:1em;
	margin-top: .2em;
	margin-bottom: .2em;
}

#modal_container {
	padding:5px;
	background-color:#fff;
	border:1px solid #666;
	overflow:auto;
	color:#333;
	text-align:left;
}

#modal_overlay {
	background-color:#000;
}

.simpleTable table {
	border: 1px solid #e0e0e0;
	padding:.1em;
	margin:.1em;
	text-align: left;	
}

.simpleTable tr, .simpleTable td, .simpleTable th {
	border: 1px solid #e0e0e0;
	padding: .2em;
	margin: 0;
}

.simpleTable th{
	background-color:#EFEFEF;
}


