#textpage {
	padding: 0 4em 0 4em;
}

.textcontent table {
  width:100%;
}
.textcontent td, .textcontent tr {
	padding:0;
	margin:0;
	vertical-align: top;
}
.textcontent .searchbar{
  width:auto;
}
.textcontent small {
	font-size:x-small;
	color: gray;
}
.textcontent .infoBox {
	padding: 0 1em 1em 1em;
	border: 1px solid #e0e0e0;
	margin:.2em;
}
.textcontent h1, .textcontent h2 {
	margin-bottom:.2em;
}
.textcontent .subtag {
  font-weight: bold;
}
.textcontent p {
	margin-top:.2em;
	margin-bottom:.5em;
  font-size: medium;
}
.textcontent ul {
	font-size: medium;	
}

#tourpage {
	padding: 0 4em 0 4em;
	width: 650px;
}

#tourpage h1, #tourpage h2 {
	margin-top:2em;
	margin-bottom:.5em;
}

