@charset "utf-8";
/* CSS Document */

#simpleTable tr{
	padding: .2em .5em;
	margin: 0 .2em;
}

#simpleTable td{
	padding: .2em .5em;
	margin: 0 .2em;
	border: 1px solid #e0e0e0;
}
#simpleTable th {
	padding: .2em .5em;
	margin: 0 .2em;
	background-color: #e0e0e0;
}  
 
#simpleTable .summary {
	min-width: 12em;
}
#simpleTable .action {
	width: 8em;
}
#simpleTable .date {
	width: 16em;
}



