@charset "utf-8";
/* CSS Document */

#discuss {
	margin: 1em 4em;
	padding:0;
}
#discuss p {
}
#discussForm textarea {
	width: 100%;
	height: 26em;
	margin: 1em 0;
}
#discuss .warning {
	font-weight: bold;
	color: red;
	padding: .2em 0;
	margin: 0;
	font-size: larger;
} 
#discuss hr {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #e0e0e0;
}
#discuss .preview {
	background-color: #F5F5F5;
	margin: 0;
	padding: 1em;
}
#discuss .infoBox {
	border: 1px solid #e0e0e0;
	margin: 0;
	padding: 1em;
}
