@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font: 9pt Arial, Helvetica, sans-serif;
	color: #202020;	
	text-align:left;
	background: url(../images/short-backg.png) repeat-x;
	background-color: #E1E4D6;
}

h1 { font-size: 14pt; }
h2 { font-size: 13.5pt; }

form {
	margin:0;
	padding:0;
}

.nav {
  border-bottom: 1px solid #D7E5F2;
  text-align:right;
  padding: 0 0 .4em 0;
	margin: 0 0 0 0;	
}

.nav_left {
	float:left;
}

.nav ul{
	padding: 0;
	margin: 0;
	background-color:#FFFFFF;
	color: #003366;
}

.nav ul li{
    display: inline;
    padding: 0 0 0 .1em;
    margin: 0;
}

.nav ul li a{
    color:blue;
    text-decoration:underline;
    padding:0 5px 0 5px;
    text-align:center;
    width: 9em;
		font-size: small;
}
#content {
	margin: 0;
	padding: 0;
}
.linkBox{
	float:right;
	background: #F1F2EC;
	padding:0 .6em;
	margin:0;
}
.adminBox{
	margin: 0.2em .2em 0;
	padding:0 0 0 .6em;
	border:1px solid #e0e0e0;
	color:gray;
	font-weight: bold;
	font-size: x-small;
	background: #FFFFCC;
}
.adminBox td {
	vertical-align: middle;
}
.adminField, .adminAction {
	padding: 0 1em;
	margin: 0;
	font-style: italic;
	font-weight: normal;
	font-size:8pt;
}
.adminBox .label {
	position:relative;
	top: -2px;
}
.adminAction{
	border-left:1px solid #e0e0e0;
}

#footer {
	border-top:1px solid #E1E4D6;
    background-color: #F3F3ED;
    left: 0;
    top: 0;
    padding: .2em;
    margin: 0;
}
#footer .linkleftright, #footer .linkleft {
	padding-left: 1em;
	padding-right: 1em;
}
#footer .linkleft {
	border-left:1px solid #e0e0e0;
}
#footer .linkleftright {
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}
.clearfloat { 
	clear:both;
}
a:link, a:visited {
color: #047BDD;
}
a {
	font-weight:bold;
	text-decoration: none;
}
.links {
	font-weight:normal;
}
a.errorlinks:link, a.errorlinks:visited {
  color: red;
	text-decoration: underline;
}
img {
	border:none;
}

.cleanTable table {
	border: 1px solid #e0e0e0;
	padding:.1em;
	margin:.1em;
	text-align: left;	
}

.cleanTable tr, .cleanTable td, .cleanTable th {
	border: 1px solid #e0e0e0;
	padding: .2em;
	margin: 0;
}

.cleanTable th{
	background-color:#EFEFEF;
}

.timefont {
  font-size: larger;
	color:#426293;
}
.spacefont {
  font-size: larger;
	color:#8EC341;
}
.mapfont {
	color:black;
}

/* ---------------- NEW STUFF --------------*/

	#nav {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:31px;
	}
	.nav_left {
	float:right;
	display:inline;
	height: 31px;
	padding: 0;
	margin: 0;	
	}
	.nav_block {
	background: url(../images/nav.png) repeat-x;
	float:right;
	display:inline;
	height: 31px;
	padding: .5em 1em .4em .4em;
	margin: 0 10px 0 0;	
	}
	.nav_block ul{
	padding: 0;
	margin: 0;
	}
	.nav_block ul li {
	display:inline;
	}
	.nav_block li {
	margin-left: .5em;
	}
	a:link, a:visited {
	color: #047BDD;
	}
	a {
	font-weight:bold;
	text-decoration: none;
	}
	
 	.linkbox {
	background-color: white;
	width: 420px;
	border: thick solid #e0e0e0;
	padding: .4em;
	}
	.linkbox .textinput {
	width: 400px;
	}
	.linkbox .label {
	margin: 0;
	padding:1em 0 .2em 0;
	}
 	#help_source { width: 500px; }
 	#help_tags { width: 300px; }
 	#help_wikimarkup { width: 300px; }
 	#help_accuracy { width: 450px; }
 	#help_where { width: 300px; }
 	#help_when { width: 300px; }
	.helpbox {
 	background-color: white;
	border: thick solid #e0e0e0;
	}
	.helpbox .hd {
	border-bottom: 1px solid #e0e0e0;
	font-size: 16px;
	font-style: italic;	
	font-weight: bold;
	padding: 0 0 2px 24px;
	margin: .2em;
	background-color: white;
	background: url(../images/22xhelp.gif) no-repeat;
	}
	.helpbox .tl, .linkbox .tl  {
	float:right;
	margin: 3px;
	}
	.helpbox .bd, .linkbox .bd {
	float:none;
	margin: .4em;
	padding: 0;
	}
	.helpbox ul {
	margin-left:10px;
	padding-left:10px;
	margin-top:.2em;
	}
	.helpbox  li {
	margin-left:5px;
	padding-left:5px;
	}	 
	#modal_container {
	}
	#modal_overlay {
	background-color:#000;
	}	
	.infoBox {
	padding: 1em;
	border: 1px solid #e0e0e0;
	margin-bottom: .2em;
	background-color: white;
	}	