.textpanel {
	padding:40px 20px 60px 60px;
	background-color: white;
	margin: .2em;
	border:1px solid #999999;
	
}
.textpanel .errorLabel, .textpanel .errorBox{
	padding: 1em 1em 1em 0;
	color:red;
}
.textpanel .errorBox {
	padding: 1em;
	margin: 1em 0;
	border:1px solid #999999;
	width: 34.5em;
}
.textpanel .errorText {
	color:red;
}
.textpanel h2, .textpanel h1 {
	margin-bottom: .2em;
}

.textpanel .successMessage {
  border:1px solid #999999;
  padding: .5em 1em .5em 1em;
 	margin-bottom: 1em;
  background-color:#009900;
	color:#FFFFFF;
	width: 34.5em;
}
.textpanel .col1 {
	width: 14em;
}
.textpanel .col2 {
	width: 20em;
}
.textpanel .forgot {
	margin-top: 1em;
}
.textpanel .inputcell {
	margin: 1em .2em 1em .2em;
}
.textpanel .inputlabel {
	margin: .1em;
}
.textpanel .inputlabel input{
	margin-left: 0;
}
.textpanel .textInput {
	width: 20em;
}
.textpanel .loginText {
	width: 12em;
}
.textpanel .textArea {
	width: 25em;
}
.textpanel .title {
	margin-left: 3px;
}
.textpanel .infoMessage {
	margin:4px 2px;
	padding:4px 10px;
	background-color: #F5F5F5;
	font-size: 14pt;
	float: left;
}
