@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial;
	font-size: small;
	background-color: #E9E9E9;
}
#outline {
	margin:20px;
	float:left;
	width:512px;
	height:440px;
	-moz-outline-radius:20px;
	-moz-outline-style:solid;
	-moz-outline-color:#9FB6CD;
	-moz-outline-width:10px;
}
#inputcaption {
	margin:5px;
	float:left;
}
#inputfields {
	margin:0 0 0 80px;
}

#map {
	width:512px;
	height:440px;
	float:left;
}
#forehead {
	background-color: #E9E9E9;
	height:40px;
	text-align:left;
	margin:20px;
	font-size:150%;
}
#novel {
	margin:20px;
}
A:hover {
	text-decoration:underline overline;
}
td {
	vertical-align:top;
}
small {
	color: grey;
}
